# Node
/node_modules
/npm-debug.log
/yarn-error.log

# Laravel
/vendor
/.env
/.env.*
/.env.backup
/public/storage
/storage/
/storage/*.key
/storage/pail
.phpunit.result.cache
/.phpunit.cache

# Laravel Mix
/public/hot
/public/build

# IDEs and editors
/.idea
/.vscode
/.fleet
/.zed

# Homestead
Homestead.json
Homestead.yaml

# Phpactor (optional)
/.phpactor.json

# Auth file
/auth.json
